//colors
$color_mine_shaft_approx: #313131;
$white: #fff;
$color_celeste_approx: #ccc;
$color_lochmara_approx: #008ed6;
$color_tundora_approx: #454545;
$red_80: rgba(255, 0, 0, 0.8);
$mine_shaft_8: rgba(50, 50, 50, 0.08);
$black_80: rgba(0, 0, 0, 0.0);
$white_90: rgba(255, 255, 255, 0.9);
$color_geyser_approx: #dadfe3;
$color_cararra_approx: #eaebec;
$black: #000000;
$black_45: rgba(0, 0, 0, 0.45);
$color_lochmara_10_approx: rgba(0, 142, 214, 0.1);
$color_mercury_approx: #e4e7e7;
$black_70: rgba(0, 0, 0, 0.7);
$color_link_water_approx: #ddecf5;
$black_15: rgba(0, 0, 0, 0.15);
//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica Neue;
$font_2: Helvetica Neue;
$font_3: Helvetica Neue;
$font_4: Helvetica Neue;
//urls
$url_0: url(../images/common/header3.jpg);
//@extend-elements
//original selectors
//.colored-line-left, .colored-line-right, .colored-line, .white-line, .grey-line
%extend_1 {
  height: 2px;
  width: 80px;
  display: block;
}
//original selectors
//.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5
%extend_2 {
  margin-top: 35px;
  margin-bottom: 20px;
  color: $black;
}
//original selectors
//footer.footer #wp-calendar, footer.footer #wp-calendar td
%extend_3 {
  border: 0;
  border-collapse: separate;
  border-spacing: 1px;
}
//original selectors
//footer.footer #wp-calendar td, footer.footer #wp-calendar th
%extend_4 {
  padding: 0;
  text-align: center;
  background-color: $color_lochmara_10_approx;
}
html {
  font-size: 100%;
  font-family: $font_0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: $font_1, $font_2, $font_3;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $color_mine_shaft_approx;
  text-align: left;
  overflow-x: hidden !important;
  margin: auto !important;
  background: #F7F8FA;
}
.fa {
  color: $color_lochmara_approx;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter:grayscale(100%);
  filter:url(grayscale.svg);
  /* Firefox 4+ */
  filter:gray;
  /* IE 6-9 */
}
.white-wrapper {
  width: 100%;
  background: $white;
  padding: 0 0 40px;
  margin: 40px 0;
  border-bottom: 1px solid #eaebec;
  border-top: 1px solid #eaebec;
}
.align-center {
  text-align: center;
}
.navbar-default {
  margin-bottom: 0;
}
#menu-primary {
  float: right;
}
.appear-on-scroll {
  opacity: 0;
}
.sticky-navigation {
  background: $white;
  min-height: 70px;
  border: none;
  font-weight: 400;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0 2px 8px 0 $mine_shaft_8;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 8px 0 $mine_shaft_8;
  .main-navigation {
    margin-top: 0;
    a {
      display: block;
      text-decoration: none;
      text-align: left;
      color: $color_mine_shaft_approx;
    }
    li a {
      text-transform: uppercase;
      line-height: 18px;
      margin: 26px 18px;
      padding: 0;
    }
    .sub-menu li a {
      margin: 0;
    }
    ul ul a {
      width: 200px;
      padding: 10px;
    }
  }
  .navbar-brand img {
    -webkit-backface-visibility: hidden;
    width: 140px;
  }
}
.dropdownmenu {
  position: absolute;
  top: 23px;
  right: 0;
  z-index: -1;
  line-height: 28px;
}
.sf-slider-overlay {
  position: relative;
  .sf-slider {
    height: 500px;
    background: $url_0 no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    h1 {
      font-size: 2.75rem;
      line-height: 5rem;
      text-align: center;
      text-transform: uppercase;
      padding-top: 70px;
    }
    p {
      text-align: center;
      font-size: 18px;
      line-height: 28px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background: $black_80;
    background-size: 100% 100%;
  }
}
.sf-partners {
  background: $white_90;
  border-bottom: 1px solid $color_geyser_approx;
  margin-bottom: 40px;
  .sf-partner-logos {
    margin-bottom: 0;
    z-index: 1;
    text-align: center;
    li {
      display: inline-block;
      margin: 25px;
      vertical-align: middle;
      img {
        max-height: 40px;
        opacity: 0.4;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter:grayscale(100%);
        filter:url(grayscale.svg);
        /* Firefox 4+ */
        filter:gray;
        /* IE 6-9 */
        &:hover {
          opacity: 1;
          -webkit-filter: initial;
          filter:initial;
        }
      }
      a {
        display: block;
        padding: 5px;
      }
    }
    .lund-logo {
      max-height: 55px;
    }
    .eurojuris-logo {
      max-height: 30px;
    }
  }
}
.section-header {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.8rem;
    line-height: 3.125rem;
    text-transform: uppercase;
  }
}
.sub-heading {
  margin-top: 20px;
  font-weight: 300;
}
.header {
  overflow: hidden;
  position: relative;
}
.overlay-layer-wrap {
  z-index: 3;
  position: relative;
}
.colored-line-left {
  background: $color_lochmara_approx;
  @extend %extend_1;
}
.colored-line-right {
  background: $color_lochmara_approx;
  @extend %extend_1;
}
.colored-line {
  background: $color_lochmara_approx;
  margin: auto;
  @extend %extend_1;
}
.white-line {
  @extend %extend_1;
}
.grey-line {
  @extend %extend_1;
}
.single-service {
  font-weight: 300;
}
.content-section {
  font-weight: 300;
}
.testimonials-box {
  font-weight: 300;
}
.widget {
  background-color: $white;
  border-bottom: 1px solid $color_cararra_approx;
  .section-overlay-layer {
    padding-top: 80px;
    padding-bottom: 115px;
  }
  .content-section {
    margin-top: 15px;
  }
  h2 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 2.4rem;
    line-height: 3.125rem;
  }
  p {
    margin-top: 40px;
  }
  .widget-image-right {
    margin-top: 20px;
    img {
      float: right;
      width: 10%;
    }
  }
  .widget-image-left {
    margin-top: 25px;
    overflow: hidden;
  }
}
.widget-content-one {
  float: right;
}
.widget-content-two {
  float: left;
}
.widget-content-text {
  clear: both;
  margin-top: 20px;
}
.intro-section {
  margin-top: 170px;
  text-align: center;
  h2 {
    font-size: 32px;
  }
  h5 {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-family: $font_1, $font_2, $font_3;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}
.header-parallax-effect-mobil {
  background-position: top center;
}
.header-style-two {
  .intro-section {
    margin-top: 110px;
    .btn-primary {
      padding: 10px 20px;
    }
    p {
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }
  .vertical-registration-form {
    background: $white;
    padding: 15px 32px 32px;
    margin-top: 84px;
    float: right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 0 $black;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 3px 0 $black;
    .form-heading {
      margin-bottom: 25px;
    }
    form button {
      margin-top: 2px;
      width: 100%;
    }
  }
}
.header-style-three {
  .intro-section {
    margin-top: 100px;
    margin-bottom: 55px;
    h5 {
      margin-top: 15px;
      margin-bottom: 60px;
    }
  }
  .overlay-layer {
    padding-top: 60px !important;
    padding-bottom: 0;
    height: auto;
  }
  .browser-image img {
    max-width: 80%;
    margin-bottom: -5px;
  }
}
.header-style-four {
  .intro-section {
    margin-top: 80px;
    h5 {
      margin-top: 15px;
      margin-bottom: 45px;
    }
  }
  .horizontal-subscribe-form {
    display: inline-block;
    background: $black_45;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 6px;
    padding: 25px;
    .input-box {
      min-height: 65px;
      width: 350px;
      font-size: inherit;
      margin: 0;
    }
  }
}
h1 {
  font-family: $font_4, $font_2, $font_3;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  &.intro {
    font-size: 3.75rem;
    line-height: 5rem;
    text-align: center;
  }
  &.single-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $black;
    margin-top: 0;
  }
  &.page-title {
    margin-top: 0;
  }
}
h2 {
  font-family: $font_4, $font_2, $font_3;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
h4 {
  font-size: 18px;
  line-height: 22px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
h5 {
  font-size: 14px;
  line-height: 18px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.entry-content {
  h1 {
    @extend %extend_2;
  }
  h2 {
    @extend %extend_2;
  }
  h3 {
    @extend %extend_2;
  }
  h4 {
    @extend %extend_2;
  }
  h5 {
    @extend %extend_2;
  }
}
.team {
  background-color: $white;
  border-bottom: 1px solid $color_cararra_approx;
  .section-overlay-layer {
    padding-bottom: 50px;
  }
}
.team-member {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  border: 1px solid $color_mercury_approx;
  min-height: 100px;
  .social-icons {
    opacity: 1;
    margin-top: 5px;
    position: relative;
    -webkit-transition: all ease 0.55s;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all ease 0.55s;
    margin-bottom: 0;
    margin-top: 0;
    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 3px;
      a {
        opacity: 0.9;
        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
  &:hover {
    .social-icons {
      opacity: 1;
    }
    .member-details {
      bottom: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
      background: $black_70;
    }
  }
}
.member-pic {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  img {
    width: 100%;
  }
}
.member-details {
  left: 0;
  position: absolute;
  color: $white;
  display: table;
  overflow: hidden;
  height: 190px;
  width: 100%;
  bottom: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s;
  background: transparent;
  text-align: center;
  h5 {
    margin: 0 0 5px;
    color: $white;
  }
}
.team-member-wrap {
  text-align: center;
  .team-member-box {
    float: none;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }
}
.member-details-inner {
  display: table-cell;
  vertical-align: middle;
}
.contact-info {
  text-align: center;
  .section-overlay-layer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .logo-container {
    margin-top: 20px;
    margin-bottom: 35px;
    img {
      opacity: 0.6;
      max-width: 65px;
    }
  }
  .icon-container {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .contact-links a {
    padding-top: 65px;
    padding-bottom: 0;
    text-decoration: none;
    color: inherit;
  }
}
.contact-links p span {
  font-size: 11px;
}
.pirate-forms-section {
  text-align: center;
  background-color: $white;
  padding-bottom: 70px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-widget-wrap {
  width: 100%;
  text-align: center;
  .widget {
    float: none;
    width: 100%;
  }
  .widget-box {
    float: none;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    text-align: left;
  }
}
.powered-by {
  font-size: 13px;
  margin-top: 30px;
  border-top: 1px solid $color_mercury_approx;
  padding-top: 5px;
  text-align: center;
}
.footer-bottom-wrap {
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
  }
}
.ol-revolution {
  width: 350px;
  margin: auto;
}
.ul-revolution {
  width: 930px;
  margin: auto;
}

.menu-last-child {
  color:#008ed6 !important;
  border-left:1px dotted #eaeaea !important;
  border-right:1px dotted #eaeaea !important;
}


nav.navbar-findcond {
  background: $white;
  border-color: $color_celeste_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 2px 0 $color_celeste_approx;
  a {
    color: $color_lochmara_approx;
  }
  ul {
    &.dropdown-menu {
      border: 0;
      background: $white;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 4px;
      margin: 4px 0;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 0 4px 0 $color_celeste_approx;
      > li > a {
        color: $color_tundora_approx;
        &:hover {
          background: $color_lochmara_approx;
          color: $white;
        }
      }
    }
    &.navbar-nav a {
      color: $color_tundora_approx;
      border-style: solid;
      border-width: 0 0 2px 0;
      border-color: $white;
      text-transform: uppercase;
      font-size: 13px;
      margin-top: 12px;
      &:hover {
        background: $white;
        color: $color_lochmara_approx;
      }
      &:visited {
        background: $white;
      }
      &:focus {
        background: $white;
      }
      &:active {
        background: $white;
      }
    }
  }
  li.divider {
    background: $color_celeste_approx;
  }
  button.navbar-toggle {
    background: $color_lochmara_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    > span.icon-bar {
      background: $white;
    }
  }
  span.badge {
    background: $color_lochmara_approx;
    font-weight: normal;
    font-size: 11px;
    margin: 0 4px;
    &.new {
      background: $red_80;
      color: $white;
    }
  }
}
header .navbar-brand {
  padding: 7px 7px 7px 0;
  height: 70px;
  line-height: 52px;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand > img {
  display: inline-block;
  margin-top: 5px;
}
.menu-align-center .main-navigation li a {
  margin: 0;
}
.sticky-navigation-open .sticky-navigation {
  top: 0;
  opacity: 1;
}
#parallax_move .layer {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: top center;
}
.widget-image-right img {
  margin-top: 70px;
  margin-left: 40px;
}
.imac-image img {
  width: 85%;
  margin-top: 70px;
}
.header-style-one .intro-section {
  margin-top: 70px;
  h5 {
    margin-top: 13px;
    margin-bottom: 70px;
  }
}
.header-style-five .intro-section {
  margin-top: 70px;
}
footer.footer {
  #wp-calendar {
    @extend %extend_3;
    border: 1px solid $white;
    td {
      @extend %extend_3;
      @extend %extend_4;
      background: transparent;
    }
    th {
      @extend %extend_4;
      border: 1px solid $color_link_water_approx;
    }
    caption {
      font-size: 14px;
      margin: 0;
    }
    a {
      display: block;
      background-color: $white;
      color: $black;
      &:hover {
        background-color: $black_15;
        text-decoration: none;
        background: $color_lochmara_approx;
        color: $white;
      }
    }
    tbody td {
      background-color: transparent;
      &.pad {
        background-color: transparent;
      }
    }
  }
  .widget-title {
    font-size: 24px;
    line-height: 28px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  .colored-line-left {
    display: none;
  }
  li {
    list-style: none;
  }
  ul {
    padding-left: 0;
    li {
      margin: 0;
      list-style: none;
      position: relative;
      font-size: 16px;
      padding-top: 10px;
    }
  }
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid $color_mercury_approx;
  }
  .widget {
    margin-bottom: 50px;
  }
  .social-icons li a {
    padding: 0 5px;
  }
  .site-footer #wp-calendar tbody td {
    background-color: transparent;
    &.pad {
      background-color: transparent;
    }
  }
}
.contact-links .contact-link-box {
  float: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  text-align: center;
}
.footer-links li {
  display: inline-block;
  padding: 10px;
  a {
    color: $color_tundora_approx;
    &:hover {
      text-decoration: none;
      color: $color_lochmara_approx;
    }
  }
}
ul.social-icons {
  padding-left: 0;
  margin-left: 0;
  margin-top: 10px;
}
.social-icons li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  a:hover {
    text-decoration: none;
    .transparent-text-dark {
      color: $color_mine_shaft_approx;
    }
  }
}
.ai-robot-col {
  & img {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
  }
}
.ai-robot-hand {
  & img {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
  }
}
h5.no-span {
  display: table;
  white-space: nowrap;
  font-size: 14px;
  text-transform: uppercase;
  color: $color_lochmara_approx;
  letter-spacing: 3px;
  &:before,
  &:after {
    border-top: 1px solid $color_lochmara_approx;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  &:before {
    right: 1.5%;
  }
  &:after {
    left: 1.5%;
  }
}
h2.no-span {
  display: table;
  white-space: nowrap;
  font-size: 24px;
  text-transform: uppercase;
  color: $color_lochmara_approx;
  letter-spacing: 3px;
  line-height: 25px;
  &:before,
  &:after {
    border-top: 1px solid $color_lochmara_approx;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  &:before {
    right: 1.5%;
  }
  &:after {
    left: 1.5%;
  }
}
.sofia-s {
  font-size: 50px;
  color: $color_lochmara_approx;
  font-weight: bold;
}
ul li {
  list-style-type: square;
}
.ui-accordion .ui-accordion-icons {
  border-radius: 0;
  background: white;
  outline: none;
  border: 0;
  background: transparent;
  font-family: 'Helvetica Neue', 'Helvetica Neue', 'Helvetica Neue';
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
}
.ui-accordion .ui-accordion-content {
  font-size: 14px;
  border-radius: 0;
  border: 0;
  background: transparent;
  font-family: 'Helvetica Neue', 'Helvetica Neue', 'Helvetica Neue';
  font-size: 16px;
  line-height: 28px;
  ol {
    li {
      margin-bottom: 10px;
    }
  }
  ul {
    li {
      margin-bottom: 10px;
    }
  }
}
#news-acc {
  h3:before {
    font-family: 'FontAwesome';
    content: '\f1ea';
    margin-right: 10px;
  }
  span {
    color: #afafaf;
    text-transform: uppercase;
    font-size: 11px;
    float: right;
  }
  .ui-accordion .ui-accordion-icons {
    border-radius: 0;
    background: white;
    outline: none;
    font-size: 11px;
  }
  .ui-accordion .ui-accordion-content {
    font-size: 14px;
    ol {
      li {
        margin-bottom: 10px;
      }
    }
    ul {
      li {
        margin-bottom: 10px;
      }
    }
  }
}
